spring:
  jpa:
    properties:
      hibernate.hibernate.default_batch_fetch_size: 100
    open-in-view: false
    hibernate:
      ddl-auto: none
  servlet:
    multipart:
      enabled: true
      location: C:\\upload
      max-request-size: 30MB
      max-file-size: 10MB

logging:
  level:
    org.team.bookshop: info
    org.team: debug

---
spring.config.activate.on-profile: local

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:core;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  h2:
    console:
      enabled: true
---
spring.config.import: classpath:application-db.properties
spring.config.activate.on-profile: dev
spring:
  datasource:
    hikari:
      connection-timeout: 5000
      maximum-pool-size: 5
      keepalive-time: 30000
      validation-timeout: 1000
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/${database.name}?serverTimezone=UTC&characterEncoding=UTF-8
    username: ${database.username}
    password: ${database.password}
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true










